/*** Basic styling ***/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: "Montserrat", sans-serif;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: "Montserrat", sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: var(--bs-dark) !important;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #D98BB0 !important;
}

.navbar-light .navbar-brand img {
    max-height: 70px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 50px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

#navbarCollapse .btn.btn-dark {
    background-color: #1A1618;
    border: none;
}

#navbarCollapse .btn.btn-dark:hover {
    background-color: #D98BB0;
    border: none;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    transition: .5s;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--bs-white);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--bs-dark);
        color: var(--bs-dark);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--bs-dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-light) !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: #D98BB0;
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

/*** Navbar END***/

/*** Package page start***/
.paket-text h3{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #D98BB0;
}

.container {
    display: grid;
    place-items: center;
}

.card-text {
    font-weight: 600;
    transition: .5s;
    font-family: "Montserrat", sans-serif;
    color: #1A1618;
    background-color: #EBECED;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0px 10px 0px 0px #D98BB0;
    
}

/*** Top Paket***/
.text-start h2 {
    font-weight: bold;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    color: #1A1618;
}

.btn-rank {
    background: #fff;
    color: #D98BB0;
    font-weight: bold;
    font-size: 14px;
}
.property-item {
    max-height: auto;
    box-shadow:0 6px 6px hsla(0, 1%, 19%, 0.3);
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed rgba(0, 185, 142, .3) !important;
}

.property-item .border-end {
    border-right: 1px dashed rgba(0, 185, 142, .3) !important;
}

.text-primary {
    background-color:rgba(217, 139, 176, 0.8);
    width: 100%;
}

#nama_paket {
    font-weight: 600;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-left: 10px;
    margin-top: 8px;
}

#harga {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

#diskon {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.paket-pane{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.icon-paket {
    color: #fff;
}

.icon-paket:hover,
.icon-paket.active{
    color: #2e2329;
}

.property-item .nav-item ul{
    background: #EBECED;
    
}

.property-item .nav-item ul p{
    display: none;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    color: #1A1618;
    text-align: justify;
    padding-left: 0;
}

.item-down .accordion-body {
    color: #fff;
    text-align: justify;
    font-size: 12px;
}

/***Package END***/

/***Footer start***/
.footer-area {
    background: #D98BB0;
    width: 100%;
  }

.row {
    align-items: center;
    width: auto;
}

.footer-logo img{
    width: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer-head {
    width: fit-content;
}

.footer-icons {
    width: fit-content;
}

.footer-icons ul{
    position: relative;
    width: fit-content;
    top:2%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
}

.footer-icons ul li {
    list-style-type: none;
}

.footer-icons ul li a{
    position: relative;
    width:40px;
    height:40px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

.footer-icons ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
}

.footer-icons ul li a .fab {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(40px - 12px);
    font-size:16px;
    color: #262626;
    transition: .5s;
  }

.footer-icons ul li a:hover .fab {
    color: #D98BB0;
  }

.footer-menu a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 8px;
    outline: none;
    position: relative;
}

.footer-menu a:hover {
    color: #1A1618 !important;
}

.btn-footer {
    background: #fff;
    color: #1A1618;
    font-weight: 400;
    font-size: 16px;
}

.footer-img img{
    width: 150px;
}

.text-bawah {
    text-align: center;
    background-color: #D98BB0;
}

.text-bawah p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #fff;
}

/***Footer END***/