/*** Basic styling ***/
* {
    font-family: "Montserrat", sans-serif;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Navbar ***/
.navbar{
    width: 100%;
    height: 90px;
}

i.bi.bi-arrow-left::before{
    font-size: 36px;
    color: black;
}

.nav-text h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: 1A1618;
}

.nav-logo img {
    max-height: 60px;
    transition: .5s;
}
/*** Navbar END***/

/*** Konfirmasi Content ***/
.container{
    width: 100%;
    place-items: center;
    font-family: "Montserrat", sans-serif;
    color: #1A1618;
}

.text-atas {
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 20px;
    text-align: center;
}

.text-atas img {
    width: 50px;
}

.text-atas h5 {
    font-family: "Montserrat", sans-serif;
    color: #1A1618;
    text-align: center;
}

.text-tengah {
    background: #FBE2EC;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 300px;
}

.text-tengah p {
    
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #1A1618;
    font-size: 16px;
    font-weight: 500;
}

.text-tengah p em {
    font-style: normal;
    color: #D1373F;
}

.btn-pesanan{
    font-family: "Montserrat", sans-serif;
    color: #1A1618;
    font-size: 14px;
    font-weight: 600;
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-pesanan:hover {
    color: #0629A6;
}

.btn-beranda {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background: #D98BB0;
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.btn-beranda:hover {
    background: #0629A6;
    color: white;
}
/*** Konfirmasi content end ***/

/***Footer start***/
.footer-area {
    background: #D98BB0;
    width: 100%;
  }

.row {
    align-items: center;
    width: auto;
}

.footer-logo img{
    width: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer-head {
    width: fit-content;
}

.footer-icons {
    width: fit-content;
}

.footer-icons ul{
    position: relative;
    width: fit-content;
    top:2%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
}

.footer-icons ul li {
    list-style-type: none;
}

.footer-icons ul li a{
    position: relative;
    width:40px;
    height:40px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

.footer-icons ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
}

.footer-icons ul li a .fab {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(40px - 12px);
    font-size:16px;
    color: #262626;
    transition: .5s;
  }

.footer-icons ul li a:hover .fab {
    color: #D98BB0;
  }

.footer-menu a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 8px;
    outline: none;
    position: relative;
}

.footer-menu a:hover {
    color: #1A1618 !important;
}

.btn-footer {
    background: #fff;
    color: #1A1618;
    font-weight: 400;
    font-size: 16px;
}

.footer-img img{
    width: 150px;
}

/***Footer END***/